modules = ["nodejs-20", "web", "postgresql-16"]
[agent]
expertMode = true
integrations = ["javascript_object_storage:1.0.0"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "dev"

[[workflows.workflow]]
name = "dev"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 5000

[[ports]]
localPort = 5555
externalPort = 3002

[[ports]]
localPort = 33341
externalPort = 6000

[[ports]]
localPort = 35195
externalPort = 5173

[[ports]]
localPort = 37169
externalPort = 3000

[[ports]]
localPort = 37485
externalPort = 3003

[[ports]]
localPort = 39799
externalPort = 4200

[[ports]]
localPort = 41549
externalPort = 6800

[deployment]
deploymentTarget = "autoscale"
run = ["bash", "-c", "NODE_ENV=production PORT=5000 node --import tsx server/index.ts"]
build = ["npm", "run", "build"]

[userenv]

[userenv.shared]
AWS_ENDPOINT_URL = "https://storage.yandexcloud.net"
AWS_ACCESS_KEY_ID = "YCAJESUhjQ7-tGj7Z40L0GyUL"
AWS_BUCKET = "labs-data"
